@using MonBlasonWebAssemblyStandalone.Models
@page "/goutsCulinaires"

<h3>Goûts Culinaires</h3>

<ImageCarousel Images="imageItems" />

@code {
    private List<ImageItem> imageItems = new List<ImageItem>
    {
        new ImageItem { ImageUrl = "https://www.liligo.fr/magazine-voyage/wp-content/uploads/sites/42/2017/08/food-world-map.jpg", Text = "Pour un premier contact avec l'entité qu'est Armand. Quoi de mieux de voir ces habitudes culinaires ?", AltText = "Présentation" },
        new ImageItem { ImageUrl = "https://timolokoy.com/blog/wp-content/uploads/2022/04/timolokoy-colombo-de-poulet-06.jpg", Text = "Naturellement, je mets en première position les plats antillais. Sur la photo un délicieux colombo mais la liste est longue  . Dombré, Bébélé, soupe à Congo, accra, balaou, condri, court bouillon antillais...", AltText = "Antilles" },
        new ImageItem { ImageUrl = "https://redhousespice.com/wp-content/uploads/2024/05/zha-jiang-mian-fried-sauce-noodles-3.jpg", Text = "À la découverte des saveurs asiatiques, je commence par les plats chinois. Sur la photo, un savoureux Zhajiangmian, mais la liste est loin d'être exhaustive. Dumplings, mapo tofu, soupe aigre-douce, nouilles sautées, porc au caramel... Chaque plat offre une expérience unique et inoubliable.", AltText = "Chinoise" },
        new ImageItem { ImageUrl = "https://bunbobae.com/wp-content/uploads/2019/09/IMG_3576.jpg", Text = "Pour poursuivre notre voyage des goûts culinaires d'Armand, voici la cuisine vietnamienne. Sur la photo, un authentique phở, mais les délices ne s'arrêtent pas là. Bánh mì, rouleaux de printemps, soupe de nouilles, cari de poulet au lait de coco, bœuf sauté aux oignons... Des plats frais et parfumés qui éveillent les papilles.", AltText = "Vietnam" },
        new ImageItem { ImageUrl = "https://www.177milkstreet.com/assets/site/Recipes/Pakistani-Chicken-Biryani-FB.jpg", Text = "Je m'arrête dans l'art culinaire d'Asie par la cuisine indienne. Sur la photo, un riche biryani, mais la variété des plats est impressionnante. Paneer tikka, curry de légumes, samosas, dosa, poulet tandoori... Une explosion de couleurs et d'épices qui transportent au cœur de l'Inde.", AltText = "Indien" },
        new ImageItem { ImageUrl = "https://prod.cdn-medias.jeuneafrique.com/cdn-cgi/image/q=auto,f=auto,metadata=none,width=1215,fit=cover/https://prod.cdn-medias.jeuneafrique.com/medias/2020/12/23/jad20201223-ass-cuisine-ndole.jpg", Text = "En route vers l'Afrique noire, découvrons les délices camerounais. Sur la photo, un appétissant ndolé, mais ce n'est qu'un aperçu. Poulet DG, poisson braisé, éru, bobolo, fufu, achu... Chaque plat raconte une histoire et célèbre la richesse de la culture camerounaise.", AltText = "Cameroun" },
        new ImageItem { ImageUrl = "https://i.ytimg.com/vi/o9v9co-ohWc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA-r7OP-f6R6XkF3H8QLY5WOmSieQ", Text = "Continuons notre voyage en Côte d'Ivoire avec ses plats savoureux. Sur la photo, un plat d'attiéké, mais il y a tant d'autres délices à savourer. Alloco, garba, poisson braisé, kédjénou, foutou... Chaque bouchée révèle l'hospitalité et la chaleur de la cuisine ivoirienne. ", AltText = "Côte Ivoire" },
        new ImageItem { ImageUrl = "https://lacongolaise242.org/wp-content/uploads/2023/06/Moambe.jpg", Text = "Enfin, terminons par la gastronomie congolaise. Sur la photo, un moambe irrésistible, mais la diversité des plats est riche. Saka-saka, chikwangue, poisson au four, kwanga, mbika... Chaque plat reflète la culture vibrante et accueillante du Congo et moi je n'ai jamais su y résister jusqu'à présent.", AltText = "Congo" }
    };
}
