@page "/"

<PageTitle>Home</PageTitle>

<h1>Blason numérique de Louis Armand</h1>

<p>Bonjour et bienvenue dans mon blason numérique !</p>
<p>Au programme, une présentation de l'être nommé : Armand Louis.</p>
<ol>
    <li>goûts culinaires</li>
    <li>musique</li>
    <li>spiritualité</li>
    @* <li>arbre généalogique</li> *@
    <li>sport</li>
    @* <li>principe de vie</li> *@
</ol>