@using MonBlasonWebAssemblyStandalone.Models
@page "/spiritualite"

<h3>Spiritualité</h3>

<ImageCarousel Images="imageItems" />

@code {
    private List<ImageItem> imageItems = new List<ImageItem>
    {
        new ImageItem { ImageUrl = "https://www.reforme.net/wp-content/uploads/2019/12/Godong-FR002274A_WEB.jpg", Text = "Dans ma quête spirituelle, je m'intéresse à plusieurs grandes religions. Je connais plutôt bien la Bible et j'étudie de surcroît le Coran en suivant les conseils de mes amis musulmans afin d'approfondir ma compréhension. Les enseignements de ces deux textes m'apportent des perspectives importantes. Je suis, pour l'instant en tout cas, plus en phase avec le message donné par le Christ.", AltText = "Bible et Coran" },
        new ImageItem { ImageUrl = "https://www.yogom.fr/wp-content/uploads/2021/03/7-1024x1024-600x600.jpg", Text = "J'ai également étudié et incorporé certains principes de la Bhagavad Gita, une source de sagesse intemporelle de l'hindouisme. Elle offre des réflexions profondes sur la nature de la vie, le devoir et la spiritualité.", AltText = "Bhagavad Gita" },
        new ImageItem { ImageUrl = "https://aazsante.org/wp-content/uploads/2019/08/Confucianisme-Buddhisme-Taoisme.jpg", Text = "Je connais aussi certains principes du Bouddhisme et du Confucianisme. Ces philosophies apportent une vision équilibrée et harmonieuse de la vie, axée sur la paix intérieure et les relations humaines.", AltText = "Bouddhisme et Confucianisme" }
    };
}
