<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mon blason</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu"> *@
<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Accueil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="goutsCulinaires">
                <span aria-hidden="true">1.</span> &nbsp;Goûts culinaires
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="musique">
                <span aria-hidden="true">2.</span> &nbsp;Musique
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spiritualite">
                <span aria-hidden="true">3.</span> &nbsp;Spiritualité
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sport">
                <span aria-hidden="true">4.</span> &nbsp;Sport
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
